**/Dockerfile
**/*.Dockerfile
**/*.dockerignore
**/compose.yml

**/.git/
**/.gitignore
**/.gitattributes
**/.prettierignore
**/.prettierrc
**/.prettierrc.*
**/prettier.config.*
**/eslint.config.*
**/tsconfig.eslint.json
**/README.md

/postgresql/
/drizzle/
/redis/

**/node_modules/

**/dist/

**/.idea/
**/.vscode/

**/.env.local
