### Dependencies ###
node_modules/

### Production ###
dist/

### Local env files ###
.env.local
.env.development.local
.env.test.local
.env.production.local

### Intellij IDEA ###
.idea/*
!.idea/modules.xml
!.idea/*.iml
!.idea/codeStyles/
!.idea/externalDependencies.xml
!.idea/icon.svg
!.idea/dictionaries/

### VS Code ###
.vscode/
